/*ADDED 2 things at bottom otherwise same as style.css
  */

html{
  font-size: 15px;
  font-family: 'Montserrat', sens-self;
  max-height: 100px;
}

body {
  background-image: url(../image/FitnessPurple.jpg);
  background-repeat: repeat; 
}

/*width in fieldset added for presentation
  May want to fix
  */
.CB {

    color: black; 
    cursor: pointer;
} 

fieldset {
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 10%;
	  margin-bottom: auto;
	  text-align: center;
      background-color: grey;
      width: 400px;
}