html,body 
{
    height: 100%;
    max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 900px;;
    background: url(../image/bghome.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
  
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation
{
    
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
    padding-right: 18px;
    border-right: 8px solid black;
    font-size: 1.2em;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    
}
header .navigation li input
 
  background-color: black;
  border: none;
  font-size: 20px;
}
header .navigation li a:hover
{
    color: #o3a9f4;
}

.content
{
    
    padding-right: 1px;
    width: 40%;
  
}
.content .contentBx h2
{
    font-family: serif;
    font-size: 5em;

    line-height: 1em;
    
}
.content .contentBx p
{
    float: inherit;
    font-size: 1.4em;   
    color: white; 
    font-weight: 400;
    
}
.content .contentBx a
{
    display: inline-block;
    padding: 10px 30px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.user-choices input{
    max-width: 40%;
    height: 400px;
    padding: 20px 300px;
    color: coral;
    margin-top: 15px;
    margin-left: 90px;
    margin-right:90px;;
    
}
 .input1 input {
    max-width: 41%;
    height: 400px;
    color: coral;
    margin-left: 80px;
    margin-right: 80px;
}
 .input2 input {
    max-width: 41%;
    height: 400px;
    margin-left: 80px;
    margin-right: 80px;
    color: coral;
  
}

.user-choices
{
    background-color: black;
    height: 6980px;
}

.featuredBtn.active {
  background: lightgray;
  color: black;
  font-size: 1.5em;
}
.featuredBtn.active2 {
  background-color: lightgray;
  color: black;
  font-size: 1.5em;

}
.featuredBtn.active3 {
  background-color: lightgray;
  color: black;
  font-size: 2em;
}
.featuredBtn.active4 {
  background-color: lightgray;
  color: black;
 font-size: 2em;
}
