
html,body{
  font-size: 10px;
  font-family: 'Montserrat', sens-self;
    height: 1600px;
    max-width: 100%;
}
.style1 a {
  float: right;
  color: white;
  padding: 14px 13px;
  text-decoration: none;
  font-size: 17px;
    font-style: bold;
    
}
.style {
  float: right;
  margin: 0;
}
.container {
    background-color: lightslategray;
    text-align: center;
    font-size: 16px;
    border-left-color: black;
    border-bottom-color: black;
    

    width: 350px;
    height: 400px;
    margin-top: 15%;
    position: absolute;
    left: 35%;
    margin-right: auto;
    border-radius: 30px;
  }
::placeholder {
  color: gray;
  font-size: 20px;
    font-style: italic;
    border-color: black;
}
.uname input[type=text] {
  padding: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18px;
    text-align: center;
    border-color: blanchedalmond;
    border-bottom-width: medium;
}

.pass input[type=password]{
  padding: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18px;
    text-align: center;
    border-bottom-width: medium;
    border-color: blanchedalmond;
}
.sub  input[type=button]{
    padding: 10px 20px;
    font-size: 25px;
    align-content: center;
    margin: 5px;
    margin-bottom: 30%;
    cursor: pointer;
    border-bottom-width: medium;
    color: brown;
    background-color: palevioletred
}

h4{

  color: azure;
    margin-top: 50%;
    font-size: 13px;
    font-family: sans-serif
    
}
