html{
  font-size: 10px;
  font-family: 'Montserrat', sens-self;
    background-image: url(../image/SignUp.jpg);
background-size: 40%;
}
.body{
     max-height: 30px;
    max-width: 30px;
}
.style1 a {
  float: right;
  color:red;
  padding: 14px 13px;
  text-decoration: none;
  font-size: 17px;
    font-style: bold;
    
}
.style {
  float: right;
  margin: 0;
}
.container {
     background-image: linear-gradient(to bottom right, red, yellow, blue, pink);
    text-align: center;
    font-size: 14px;
    border-left-color: black;
    border-bottom-color: black;
    padding: 50px;
    width: 350px;
    height: 400px;
    margin-top: 10%;
    position: absolute;
    align-content: center;
      left: 30%;
    margin-right: auto;
    border-radius: 30px;
  }
::placeholder {
  color: gray;
  font-size: 20px;
    font-style: italic;
    border-color: black;
}
.uname input[type=text] {
  padding: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18px;
    text-align: center;
    border-color: blanchedalmond;
    border-bottom-width: medium;
}

.pass input[type=password]{
  padding: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18.2px;
    text-align: center;
    border-bottom-width: medium;
    border-color: blanchedalmond;
}
.RE-Pass input[type=password]{
  padding: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18.2px;
    text-align: center;
    border-bottom-width: medium;
    border-color: blanchedalmond;
}
.sub  input[type=button]{
    padding: 10px 20px;
    font-size: 25px;
    align-content: center;
    margin: 5px;
    margin-bottom: 30%;
    cursor: pointer;
    border-bottom-width: medium;
    color: brown;
    background-color: palevioletred
}

h4{

  color:red;
    margin-top: 60%;
    font-size: 13px;
    font-family: sans-serif
    
}