
body{
    background-color: chocolate;
}

.style2 a {
  float: left;
  color: #c5c4c4;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
   
}
.style2 {
  float: right;
} 



body{
    background-color: chocolate;
}

.style2 a {
  float: left;
  color: #c5c4c4;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
   
}
.style2 {
  float: right;
}