html{
    height: 1080px;
    max-width: 100%;
  font-size: 10px;
  font-family: 'Montserrat', sens-self;
}
body {
    max-width: 100%;
    height: 1000px;
    background-image: url('bghome.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h3{
    max-width: 40%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    font-size: 25x;
  

}



.style a {
  float: left;
  color: #c5c4c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.style {
  float: right;
}
.style input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 100;
  font-size: 16px;
}
