html{
    background-image: url(../image/Nutrition1.jpg), url(../image/Nutrition.jpg);
   /* background-repeat: no-repeat;*/
    margin-right: 20%;
}
head{
    height: 100px;
    position: fixed;
    top: 10px;
    left: 10px;
    filter: blur(20000);
    filter: invert(70%);
  }
  

.image h2{
    margin-top: 10%;
}
.image img{
    width: 45%;
    border: 10px solid transparent;
  padding: 15px;
    border-image: url(../image/GreenTexture.png) 30 30 stretch;
}
.image ul{
    color: mediumvioletred;
}
.image p{
    color: plum;
}
  .column {
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 10%;
    font-family: cursive;
    color: cornsilk;
    
  }
.image2 h2{
    margin-top: 10%;
}
.image2 img{
    width: 50%;
    border: 10px solid transparent;
  padding: 15px;
    border-image: url(../image/GreenTexture.png) 30 30 stretch;
}
.image2 ul{
    color: ;
}
.image2 p{
    color: #006400;
}
.image2 li{
    color: #20B2AA;
    
}
.image3 h2{
    margin-top: 10%;
}
.image3 img{
    width: 45%;
    border: 10px solid transparent;
  padding: 15px;
    border-image: url(../image/GreenTexture.png) 30 30 stretch;
}
.image3 ul{
    color: mediumvioletred;
}
.image3 p{
    color: #2F4F4F;
}
  .rowBurn{
    color: greenyellow;
  }
  hr{
        color: rgb(11, 8, 15);
        margin-top: 20%;
  }